.sidebar
  .sidebar__header
    %p
      current user name
    %ul
      %li
      = link_to "", "", class: "fa fa-pencil-square-o icon"
      %li
      = link_to "", "", class: "fa fa-cog icon"
  .sidebar__groups
    -# = groups.each do |group|
    = render partial: "group"
    -# end
.chat
  .chat__header
    .chat__header__left
      .chat__header__left__group-name
        %p
          group name
      .chat__header__left__members
        %p
          Member: current_user_name member0_name member1_name ...
    .chat__header__btn
      = link_to "Edit", "", class: "btn"
  .chat__messages
    -# = messages.each do |message|
    = render partial: "message"
    -# end
  .chat__form
    %form
      %input{type: "text", placeholder: "type a message", class: "message"}
      %label{class: "fa fa-picture-o icon"}
        %input{type: "file"}
      %input{value: "Send", type: "submit", class: "btn"}
